/* Police fournie Raleway */
@font-face {
	font-family: 'raleway';
	src: url('font/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'raleway_sb';
	src: url('font/static/Raleway-ExtraBold.ttf') format('truetype');
}
/* Corps du site */
body
{
	display: flex;
	margin: auto;
	max-width: 1440px


}
.inscription
{
	font-family: 'raleway_sb', 'sans serif';
}
p, nav
{
	font-family: 'raleway', 'sans serif';
	font-size: 0.9rem;
}
h1, h2, h3, h4, span, .irecherche
{
	font-family: 'raleway_sb','sans serif';
}

.bloc_page
{
	padding: 0 3rem 0 3rem;
}

.hebergement a, .cadrep a, .cadrea a, .cadrea1 a
{
	text-decoration: none;
	color: black;
}

/* header */

header
{
	display: flex;
	padding:	50px 0 50px 0;
}
.logoreservia
{
	width: 10%;
}

header nav ul
{
	display: flex;
	list-style-type: none;
	padding: 0;
}

header nav li
{
	padding: 0 0 0 60px;
}

.menu
{
margin: -13px 0 0 750px;
}


header nav a
{
	color:	black;
	text-decoration: none;
	font-weight: bold;

}

header nav a:hover
{
	color: #0065FC;
	border-top: 4px solid #0065FC;
	padding-top: 47px;
	font-style: italic;
}

.inscription
{
	font-weight: bold;
	color:	#0065FC;
	text-decoration: none;
	margin: 0px 0 0 1260px;
	position: absolute;

}

/* text et recherche */

h1
{
	margin-bottom: 0px;
	font-size: 1.5em;
}
.rechercher i, input
{
	margin-right: -5px;
	padding: 14px;
}
.fa-map-marker-alt
{
	background-color: #F2F2F2;
	padding: 16px 14px 17px 14px;
	margin-right: -5px;
	border-radius: 30% 0 0 30%;
}
.btnrecherche
{
	background-color: #0065FC;
	border:1px solid #0065FC;
	color: white;
	border-radius: 0 15px 15px 0;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
}
.irecherche
{
	border: 1px solid #F2F2F2;
	font-size: 1rem;
}

.fa-search
{
	border: 1px solid #0065FC;
	background-color: #0065FC; 
	color: white;
	border-radius: 30% 30% 30% 30%;
	margin: 20px 0 0 0;
}
.loupe
{
	display: none;
	font-size: 90px;
}
.recherche
{
	margin: 20px 0 0 0;
}
/* filtres */
.information
{
	display: flex;
}
.information .fa-stack
{
	padding-right: 20px;
}

h3
{
	padding: 10px 30px 0 0;

}

.filtrebtn span
	{
		padding: 10px 0px 0 10px;
	}

.filtres
{
	display: flex;
	margin-top: 20px;
}


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
	margin-left: -3px;
	color: #0065FC;
	font-size: 1.2rem;
}

.filtrebtn .fa-circle
{
margin-left: -8px;
font-size: 51px;
color: #DEEBFF;
}
.filtrebtn
{
	border: 3px solid #F2F2F2;
	border-radius: 50px;
	cursor: pointer;
	margin: 1rem;
	align-items: center;
	padding: 0.4rem 1rem 0.4rem 0;
}
.filtrebtn:hover
{
	color: #0065FC;
	background-color: #DEEBFF;
	font-style: italic;
}
p i
{
	display: flex;
}
p .far
{
	font-size: 2rem;
	color: #F2F2F2;

}

p .fas
{
	color: #0065FC;
}

.titre_filtres
{
	margin-top: 20px;
}

/* cadre hebergement et populaires */

.cadreh .blue, .cadrep .blue
{
	color: #0065FC;
}
.fa-star
{
	color: #F2F2F2;
}
section
{
	display: flex
}
.titre_hebergement
{
	position: absolute;
	padding: 20px 40px 50px 40px;
}

article
{
	background-color: #F2F2F2;
	flex: 2.5;
	border-radius: 20px;
	padding: 80px 40px 0px 40px;
}

.hebergement
{
	display: flex;
	position: relative;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px 0 0 0;
}

.cadreh
{
	border: 5px solid white;
	margin: 0 0 40px 0px;
	cursor: pointer;
	border-radius: 30px;
	box-shadow: 0 0 10px grey;
	background-color: white;

}

.imghebergement
{
	width: 236px;
	height: 112px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}
.cadreh:hover
{
	border: 5px solid #DEEBFF;
}
.cadreh h3, .cadreh p, .noteh
{
	margin: 0 0 5px 10px;
	flex-wrap: wrap;
	font-size: 1rem;
}

.afficher_plus
{
	position: absolute;
	font-size: 1.2rem;
	font-family: 'raleway_sb','sans serif';
	text-decoration: none;
	color: black;
	font-weight: bold;
	margin-top: -10px;
}

aside
{
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px 0 0 40px;
	margin-left: 40px;
	flex: 1.1;
}
.cadrep
{
	padding: 0px 0 5px 0;
	margin:	30px 20px 40px 0;
	border:	5px solid white;
	border-radius: 30px;
	background-color: white;
	cursor: pointer;
	justify-content: space-between;
	box-shadow: 0 0 10px grey;
}
.populaires
{
	margin:-30px 0 0 0;
}
.cadrep h3, .cadrep p, .cadrep i
{
	font-size: 0.9rem;
	margin: 0 0 16px 0px;
}

.imgpopulaires
{
	width: 125px;
	height: 130px;
	object-fit: cover;
	border-radius: 25px 0px 0 25px;
	float: left;
	padding: 0 15px 0px 0;
}

.cadrep:hover
{
	border: 5px solid #DEEBFF;
}

.fa-chart-line
{
	display: flex;
	font-size: 1.5rem;
	position: absolute;
	margin: -50px 0 0 300px;
}

aside h2
{
	padding:30px 0 0 0;
}
/* cadre activités */
#activites
{
	margin: 40px 0 0 0;
	display: flex;
	justify-content: space-between;	
}

#activites h2
{
	position: absolute;
	margin: 0 0 0px 0;
}

.cadrea
{
	width: 300px;
	height: 100%;
	background-color: white;
	box-shadow: 0 0 5px;
	margin: 50px 0 0 0;
	border-radius: 25px 25px 25px 25px;
	cursor: pointer;
}

.vieuxport, .calanques
{
	width: 100%;
	height: 390px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}

.pomegues
{
	width: 100%;
	height: 140px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}

.frioul
{
	width: 100%;
	height: 110px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}

.notredame
{
	width: 100%;
	height: 130px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}

.longchamp
{
	width: 100%;
	height: 120px;
	object-fit: cover;
	border-radius: 25px 25px 0 0;
}

.cadrea h3, .cadrea1 h3
{
	padding: 0 0 10px 30px;
}

 .cadreaensemble1 .cadrea1
 {
 	align-self: stretch;
 	width: 300px;
	background-color: white;
	box-shadow: 0 0 5px;
	margin: 50px 0 65px 0;
	border-radius: 25px 25px 25px 25px;
	cursor: pointer;
	padding-bottom: 2px;
}

 .cadrea:hover, .cadreaensemble1 .cadrea1:hover
 {
 	box-shadow: 0 0 15px;
 }
 /* footer */


footer
 {
 	display: flex;
 	background-color: #F2F2F2;
 	margin: 40px 0 0 0;
 	padding: 20px;
 }

 .f1 li, .f1 nav, .f1 nav a
{
	text-decoration: none;
	list-style-type: none;
	font-size: 0.8rem;
	color: black;
	margin: 0 0 10px 0;
}
.f1 h4
{
	margin: 0 0 0 40px;
	font-size: 0.9rem;
}

.f1
{
	width: 33%
}

/* --------------- Mobile ------------ */


@media only screen and (max-width: 767px) 

{
	/* body */
	.bloc_page
	{
		padding: 0;
	}

	body
	{
		width: 100%;
		font-size: 2.5rem;
	}
	p, nav
	{
		font-family: 'raleway', 'sans serif';
		font-size: 1.2rem;
		font-weight: bold;
	}

	h1, h2, h3, h4, .irecherche
	{
		font-family: 'raleway_sb','sans serif';
		font-size: 30px;
	}

	/* header */

	header
	{
		flex-direction: column;
	}

	.inscription
	{
		position: absolute;
		margin: 20px 0 0 500px;
		font-size: 1.3rem;

	}

	 .logoreservia
	{
		width: 150px;
		margin: 0 0 0 30px;

	}

	nav
	{
		font-size: 1.5rem;
	}

	.menu
	{
	margin:0;
	width: 100%;
	}

	header nav li
	{
		/*margin: 0 0 0 -90px;*/
		padding: 20px 120px 20px 80px;
		width: 100%;
		border-bottom: 4px solid lightgrey;
		font-size: 1.2rem;
	}
	header nav a:hover
	{
		border-top: none;
	}
	header nav li:hover
	{
		font-style: italic;
		border-bottom: 4px solid #0065FC;
	}
	p, h1
	{
		margin: 10px 100px 20px 30px;
	}
	/* text et recherch */

		.btnrecherche
		{
			display: none;
		}
		.loupe
		{
			display: initial;
		}
		.fa-search
		{
			position: absolute;
			padding: 21px 21px 21px 21px;
			font-size: 30px;
			margin: 34px 0px 0 0px;

		}

		.irecherche
		{
			padding: 24px 120px 20px 20px;
			margin: 0 -20px 0 -40px;
			font-size: 24px;
		}

		.fa-map-marker-alt
		{
			font-size: 26px;
			padding: 25px 30px 24px 25px;
			margin: 0 20px 0 30px;
		}
		.recherche
		{
			width: 100%;
		}

	/* filtres */

	.filtres
	{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.filtreinfo .titre_filtres
	{

		font-size: 25px;
		padding-right: 20px;

	}
	.titre_filtres
	{
		position: absolute;
		margin-left: 30px;
	}
	.filtrebtn
	{
		margin: 80px 40px -60px 30px;
		font-size: 20px;
		padding-left: 0;
	}
	.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
	{
		font-size: 25px;
	}

	.filtrebtn .fa-circle
	{
		font-size: 58px;
		padding: 0 25px 0 0;
	}
	.filtrebtn span
	{
		padding: 10px 0px 0 10px;
		font-size: 20px;
		margin: 0;
	}

	.information
	{
		margin-top: 40px;
		padding: 0;
	}
	.information p
	{
		margin: 0 0 20px 0;
	}

	/*.txtinfo
	{
	margin-top: -50px;
	margin-left: 50px;
	margin-bottom: 50px;
	}*/

	/* hebergement */

	#hebergements
	{
		width: 100%;
		flex-direction: column-reverse;
		flex-wrap: wrap;
	}

	.cadreh
	{
		margin-right: 0px;
		margin-bottom:25px;
		width: 92%;
	}
	.cadreh h3
	{
		font-size: 22px;
	}

	.cadreh p
	{
		font-size: 20px;
	}
	
	.populaires
	{
		width: 100%;
		margin-bottom: 50px;
	}
	.cadrep
	{
		margin-right: 0;
		margin-bottom: -10px;
		width: 92%;
	}

	.imgpopulaires
	{
	width: 140px;
	height: 150px;
	}

	aside
	{
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	article
	{
		margin: 0 0 40px 0px;
		border-radius: 0;
		background-color: white;
		padding: 80px 0 0 40px;
	}
	.cadrep h3
	{
		font-size: 22px;
		margin-bottom: 0px;
		height: 48px;
	}

	.fa-chart-line
	{
		margin-left: 540px;
	}

	section .titre_hebergement
	{
		position: static;
		order: 2;
		padding: 0 0 0 40px;
		margin-bottom: -60px;
		margin-top: 60px;
	}
	section article
	{
		order: 1;
	}
	section aside
	{
		order: 3;
	}
	.imghebergement
	{
		width: 100%;
		height: 150px;
		margin-bottom: -5px;
	}
	.afficher_plus
	{
		margin-top: 10px;
		font-size: 22px;
	}

	/* activité */

	#activites
	{
		flex-direction: column;
		width: 100%;
	}
	#activites h2
	{
		margin-left: 40px;
	}
	.cadrea
	{
		width: 92%;
		height: 200px;
		margin-left: 40px;
	}
	.cadrea img
	{
		height: 75%;
		object-position: 35% 35%;
	}
	.cadrea h3
	{
		margin-top: 5px;
		font-size: 22px;
	}

	.cadreaensemble1 .cadrea1
	 {
	 	width: 92%;
	 	height: 200px;
	 	margin-left: 40px;
	 	margin-bottom: 0;
	 	padding: 0;
	 }

	 .pomegues, .frioul, .notredame, .longchamp
	 {
	 	width: 100%;
	 	height: 70%;
	 }

	 .cadreaensemble1 h3
	 {
	 	margin:10px 0 0 0;
	 	font-size: 22px;
	 }

	 /* footer */
	 footer
	 {
	 	width: 100%;
	 	flex-direction: column;
	 	padding: 50px 40px 0 0;
	 }

	.f1 li, .f1 ul, .f1 nav a, .f1 h4
	 {
	 	font-size: 20px;
	 	width: 100%;

	 }
	 .f1
	 {
	 	width: 100%;
	 }
}

@media screen and (min-width: 768px) and (max-width: 1367px)
{
	.bloc_page
	{
		padding: 0;
	}
	body
	{
		width: 100%;
	}

	header
	{
		display: flex;
		flex-direction: column;
	}
	h1, p, .information, #activites h2
	{
		margin-left: 50px;
	}
	.logoreservia
	{
		width: 150px;
		margin-top: 20px;
		margin-left: 50px;
	}
	.inscription
	{
		position: absolute;
		margin: 40px 0 0 1000px;
		font-size: 22px;

	}
	header nav ul
	{
		display: flex;
		list-style-type: none;
		padding: 0;
	}
	header nav a:hover
	{
		border-top: none;
	}
	header nav li:hover
	{
		font-style: italic;
		border-bottom: 4px solid #0065FC;
	}
	.menu
	{
	margin:0;
	width: 100%;
	}

	header nav li
	{
		padding: 50px 80px 20px 180px;
		width: 100%;
		border-bottom: 4px solid lightgrey;
		font-size: 22px;
		justify-content: space-between;
	}
	.recherche, .filtres
	{
		margin-left: 50px;
	}
	.information p
	{
	 margin-left: 0px;
	}
	section
	{
		flex-direction: column-reverse;

	}
	aside
	{
		margin:20px 0 0 0;
		border-radius: 0;
	}
	.populaires
	{
		display: flex;
		flex-wrap: wrap;
	}
	.cadrep
	{
		width: 31%;
		margin-right: 10px;
	}
	.populaires h2
	{
		width: 100%;
		padding-top: 0;
	}
	.fa-chart-line
	{
		margin: 20px 0 0 1150px;
	}
	section .titre_hebergement
	{
		position: static;
		order: 2;
		padding: 0 0 0 40px;
		margin-bottom: -60px;
		margin-top: 60px;
	}
	section article
	{
		order: 1;
		background-color: white;
	}
	section aside
	{
		order: 3;
	}
	.cadreh
	{
		width: 31%;
	}
	.imghebergement
	{
		width: 100%;
	}
	.cadrea, .cadrea1
	{
		margin: 50px 20px 0 0px;
	}
	.cadreaensemble1
	{
		width: 30%;
	}
	.cadrea
	{
		margin-left: 10px;
	}
}